{{ define "main"}}
  <h1>Page not found</h1>

  <p>I'm sorry, but the page you requested does not exist.</p>

  <form method="get" id="search" role="search" action="https://duckduckgo.com/">
    <input type="hidden" name="sites" value="{{ replaceRE "^https?://([^/]+).*" "$1" .Site.BaseURL }}"/>
    <label for="site-search">Search this site with DuckDuckGo:</label>
    <input type="search" id="site-search" name="q" maxlength="300" aria-label="Search through site content" />
    <!-- <input type="search" name="q" maxlength="300" placeholder="Search this site"/> -->
    <button type="submit">Search</button>
  </form>

  <p>Or <a href="{{ "/" | relURL }}">go to the home page</a>.</p>

{{ end }}
