<article itemscope>
  <header>
    <h2 class="list_entry">
      <a href="{{ .RelPermalink }}">
          {{ .Title }}
      </a>
    </h2>
    <div class="metadata">
      {{ partial "dates.html" . }}
      {{ partial "tags.html" . }}
    </div>
  </header>
  {{ .Summary }}
  {{ if (and (.Site.Params.showReadMore) (.Truncated)) }}
    <p><a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a></p>
  {{ end }}
</article>
