{{ if .Date }}
  {{ $date := .Date.Format "2006-01-02" }}
  {{ $lastmod := .Lastmod.Format "2006-01-02" }}
  <div class="dates">
    <span class="published" title="Publication date">
      <time datetime="{{ $date }}" itemprop="dateCreated pubdate datePublished">{{ .Date.Format "January 2, 2006" }}</time>
    </span>
    {{ if ne $date $lastmod }}
      <span class="updated" title="Last modification date">
        (Last modified on <time datetime="{{ $lastmod }}" itemprop="dateModified">{{ .Lastmod.Format "January 2, 2006" }}</time>)
      </span>
    {{ end }}
  </div>
{{ end }}
