<div class="paginator">
  {{ $paginator := . }}
  {{ if gt .Paginator.TotalPages 1 }}

    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}">« Newer</a>
    {{ end }}
    <p>Page {{ $paginator.PageNumber}} of {{ $paginator.TotalPages }}</p>
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}">Older »</a>
    {{ end }}
  {{ end }}
</div>
