{{if .Params.tags}}
  <div class="tags">
    {{ range $i, $tag := .Params.tags }}
      <a class="tag" href="/tags/{{ $tag | urlize }}/">#{{ replace $tag " " "&nbsp;" | safeHTML }}</a>
    {{ end }}
  </div>
{{ end }}
