{{ if or (.Get "source") (.Get "cite_text") }}
  <figure>
{{ end }}
<blockquote {{ if .Get "url" }}cite="{{ .Get "url"}}"{{ end }}>
{{ .Inner | markdownify }}
</blockquote>
{{ if or (.Get "source") (.Get "cite_text") }}
  <figcaption>
    &mdash;{{ .Get "source" }}{{ if and (.Get "source") (.Get "cite_text") }}, {{ end }}{{ if .Get "cite_text" }}<cite><a href="{{ .Get "url" }}">{{ .Get "cite_text" }}</a></cite>{{ end }}
  </figcaption>
  </figure>
{{ end }}
