{{/* Taken from https://randomgeekery.org/post/2020/06/csv-and-data-tables-in-hugo/ */}}
{{ $caption := .Get "caption" }}
{{ $useHeaderRow := .Get "header" }}
{{ $rows := split (trim .Inner "\n") "\n\n" }}

<table>
  {{ with $caption }}
    <caption>{{ . }}</caption>
  {{ end }}
  {{ if $useHeaderRow }}
  <thead>
    {{ $headerRow := index $rows 0 }}
    {{ $rows = after 1 $rows }}
    <tr>
      {{ range (split $headerRow "\n") }}
        {{ if (findRE "(.*)(:n:)$" .) }}
          <th class="numeric">{{ replace . ":n:" "" | markdownify }}</th>
        {{ else }}
          <th>{{ . | markdownify }}</th>
        {{ end }}
      {{ end }}
    </tr>
  </thead>
  {{ end }}
  <tbody>
  {{ range $rows }}
    <tr>
      {{ range (split . "\n") }}
        {{ if (findRE "^(&lt;)?(&gt;)?[[:space:]]?[\\d.,]+$" .) }}
          <td class="numeric">{{ . | markdownify }}</td>
        {{ else }}
          <td>{{ . | markdownify }}</td>
        {{ end }}
      {{ end }}
    </tr>
  {{ end }}
  </tbody>
</table>
