<div class="note {{ .Get "type" }}">
  <div class="note_header">
    {{ .Get "type" | title }}{{ if .Get "date" }} ({{ .Get "date" }}){{ end }}<span class="hidden">:</span>
  </div>
  <div class="note_body">
    {{ .Inner | markdownify }}
  </div>
</div>
