{{ define "main" }}
  <header>
    <h1>
      {{ .Title }}
    </h1>
  </header>
  <!-- Group all the post pages from the same year -->
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ range ($pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2> <!-- The year -->
    <ul>
      {{ range (.Pages) }}
        <li class="archive-list">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="metadata-list">{{ .PublishDate.Format "January 2" }}</span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
