<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="generator" content="Hugo" />

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
    <link rel="manifest" href="{{ "manifest.json" | relURL }}">
    <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" |relURL }}" color="#0c5ba3">
    <meta name="msapplication-TileColor" content="#0c5ba3">
    <meta name="theme-color" content="#0c5ba3">

    <!-- Special references -->
    <link href="/" rel="home" />
    {{ with .OutputFormats.Get "Atom" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType .Permalink $.Site.Title | safeHTML }}
    {{ end }}

    <!-- Styles -->
    <!-- Use Hugo Pipes to process the Sass file (convert to CSS, minify, and add a hash) -->
    {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $main_style := resources.Get "css/main.scss" | toCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $main_style.RelPermalink }}"/>
  </head>
  <body>
    <div class="wrapper {{ .Type }}">
      <header>
        <nav>
          <a id="title" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
          <ul id="menu">
          {{ range .Site.Menus.main }}
          <li><a class="color-link nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
          </ul>
        </nav>
      </header>
      <main>
        {{- block "main" . }}{{- end }}
      </main>
      <footer>
        <p>
          Copyright &copy; <a rel="author" href="/about/">Mark van Lent</a>.
          You can also find me on
            <a rel="me" href="https://mastodon.social/@markvl">Mastodon</a>,
            <a rel="me" href="https://nl.linkedin.com/in/markvanlent">LinkedIn</a> and
            <a rel="me" href="https://gitlab.com/markvl">GitLab</a>.
          </p>
          <p>
          The content is licensed under a
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
          Creative Commons Attribution 4.0 International
          License</a>.
        </p>
        <p>
          This is a personal weblog. The opinions expressed here
          represent my own, unless stated otherwise.
        </p>
      </footer>
    </div>
  </body>
</html>
