{{ define "main" }}
<article itemscope>
  <header>
    <h1>{{ .Title }}</h1>
    {{ if eq .Type "posts" }}
    <div class="metadata">
        {{ partial "dates.html" . }}
        {{ partial "tags.html" . }}
      </div>
    {{ end }}
  </header>
  {{ partial "toc" . }}
  {{ .Content }}
</article>
{{end}}
