{{ define "main" }}
  <header>
    <h1>{{ .Data.Plural | title }}</h1>
  </header>
  <ul>
    {{ range .Data.Terms.Alphabetical }}
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
  </ul>
{{ end }}
