{{ define "main" }}
  <!-- Page that displays after clicking on a post's tag -->
  <header id="article_list_header">
    <h1>Posts with {{ .Data.Singular }} “{{ .Data.Term }}”</h1>
    <a href="{{ with .OutputFormats.Get "Atom" }}{{ .Permalink }}{{ end }}" class="feed_link" aria-label="RSS" title="RSS feed for {{ .Data.Singular }} “{{ .Data.Term }}”">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <title>RSS feed for {{ .Data.Singular }} “{{ .Data.Term }}”</title>
        <path fill="currentColor" d="M2.13 11.733c-1.175 0-2.13 0.958-2.13 2.126 0 1.174 0.955 2.122 2.13 2.122 1.179 0 2.133-0.948 2.133-2.122-0-1.168-0.954-2.126-2.133-2.126zM0.002 5.436v3.067c1.997 0 3.874 0.781 5.288 2.196 1.412 1.411 2.192 3.297 2.192 5.302h3.080c-0-5.825-4.739-10.564-10.56-10.564zM0.006 0v3.068c7.122 0 12.918 5.802 12.918 12.932h3.076c0-8.82-7.176-16-15.994-16z"></path>
      </svg>
    </a>
  </header>
  {{range .Pages}}
    {{ partial "article_list_entry.html" . }}
  {{ end }}
{{ end }}
